<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-nr-min.css">
    <link rel="stylesheet" href="/static/dagr.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="/static/execution.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Dagr: {{.Execution.Program.Name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div id="container">
      <!-- header --> 
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="/" class="pure-menu-heading">Dagr</a>
      </div>
      
      <div id="execution" data-socket-path="{{.ProgramExecutionsSocketPath}}" data-execution-id="{{.Execution.Id}}">
        <div class="pure-u-6-6">
          <h2><a href="/program/{{.Execution.Program.Name}}">{{.Execution.Program.Name}}</a></h2>
          <span class="exec-started-time">Started {{.ExecutionTime}}</span>

          {{if .Succeeded}}
          <div class="exec-status-label succeeded">
            Succeeded
          </div>
          {{else if .Failed}}
          <div class="exec-status-label failed">
            Failed
          </div>
          {{else if .Retryable}}
          <div class="exec-status-label retryable">
            Retryable
          </div>
          {{else if .Running}}
          <div class="exec-status-label running">
            Running
          </div>
          {{else}}
          {{/* never run */}}
          {{end}}          
        </div>
      </div>

      <div class="source">
        <pre><code>{{.Execution.Program.MainSource}}</code></pre>
      </div>
      
      <div id="messages" data-socket-path="/executions/{{.Execution.Id}}/messages/{{.Execution.RecordedMessages|len}}">
        <pre>{{range .Execution.RecordedMessages}}<span class="{{.MessageType}}">{{.Line}}</span>{{ end }}</pre>
      </div>

    </div>
  </body>
</html>
