<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-nr-min.css">
    <link rel="stylesheet" href="/static/dagr.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="/static/websocket.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Dagr: {{.Execution.Program.Name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div id="container">
      <!-- header --> 
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="/" class="pure-menu-heading">Dagr</a>
      </div>
      
      <div class="status pure-g">
        <h2>{{.Execution.Program.Name}}</h2>
      </div>

      <div class="source">
        <pre><code>{{.Execution.Program.MainSource}}</code></pre>
      </div>
      
      <div id="messages" data-exec-url="/executions/{{.Execution.Id}}/messages/{{.Execution.RecordedMessages|len}}">
        <pre>{{range .Execution.RecordedMessages}}<span class="{{.MessageType}}">{{.Line}}</span>{{ end }}</pre>
      </div>

    </div>
  </body>
</html>
