<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-nr-min.css">
    <link rel="stylesheet" href="/static/dagr.css">
    <title>Dagr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div id="container">
      <!-- header --> 
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="#" class="pure-menu-heading">Dagr</a>

        <ul>
          <li class="pure-menu-selected"><a href="#">Today</a></li>
          <li><a href="#">Programs</a></li>
        </ul>
      </div>
      
      <div class="status pure-g">
        <div id="succeeded" class="pure-u-1-3">
          <h2>{{.Succeeded}}</h2>
        </div>
        <div id="retryable" class="pure-u-1-3">
          <h2>{{.Retryable}}</h2>
        </div>
        <div id="failed" class="pure-u-1-3">
          <h2>{{.Failed}}</h2>
        </div>
      </div>
      
      
      <div id="programs">
        <table class="pure-table">
          <thead>
            <tr>
              <th class="program-name">Program</th>
              <th>Last Execution</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody>
{{range .ProgramStatuses}}
            <tr>
              <td class="program-name table-1-3">
                <a href="/program/{{.Program.Name}}">{{.Program.Name}}</a>
              </td>
              <td class="table-1-3">{{with .LastExecutionTime}}{{.}}{{else}}Never run{{end}}</td>
              {{if .Succeeded}}
              <td class="execution-status-success">
                <div class="label succeeded">
                  <a href="/executions/{{.LastExecution.Id}}">Succeeded</a>
                </div>
              </td>
              {{else if .Failed}}
              <td class="execution-status-failed">
                <div class="label failed">
                  <a href="/executions/{{.LastExecution.Id}}">Failed</a>
                </div>
              </td>
              {{else if .Retryable}}
              <td class="execution-status-retryable">
                <div class="label retryable">
                  <a href="/executions/{{.LastExecution.Id}}">Retryable</a>
                </div>
              </td>
              {{else if .Running}}
              <td class="execution-status-running">
                <div class="label running">
                  <a href="/executions/{{.LastExecution.Id}}">Running</a>
                </div>
              </td>
              {{else}}
              <td>
                {{/* never run */}}
              </td>
              {{end}}
              
              <td>
                {{if not .Running}}
                <form action="/program/{{.Program.Name}}/execute" method="post">
                  <button class="pure-button pure-button-primary">Run</button>
                </form>
                {{end}}
              </td>
            </tr>
{{end}}
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
